/* Global Styles */
html, body { height: 100%; margin: 0; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--bg-body);
  color: var(--text-primary);
  height: 100vh;
  overflow: auto;
}
